@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,100&display=swap');

:root{
    --primary-color: rgb(255, 0, 93);
    --secondary-color: rgb(255, 202, 221);
    --gray-color:rgb(70, 60, 60);
    --dark-blue:rgb(5, 5, 100);
}
.heading{
    margin-top: 2rem;
    text-align: center;
    font-stretch: extra-expanded;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#description{
    text-align: center;
    padding: 2rem 0rem 5rem 0rem;
    font-weight: 100;
    color: var(--gray-color);
}
h4 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}
body{
    background-color: var(--secondary-color); 
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: 120%;
    padding: 1rem;
    margin: 0;
}
.container {
    text-align: center;
}

.center-container{
    width: 500px;
    margin: auto;
}
.label-birthday{
    color: var(--gray-color);

}
input{
    font-size: 1rem;
    margin: 0.5rem 0rem 2rem 0rem;
}
.primary-button{
    background-color: rgb(255, 0, 93);
    border-radius: 0.5rem;
    border: 0.5px black solid;
    color: rgb(255, 202, 221);
    font-size: 1.2rem;
}

#results{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--dark-blue);
}
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.contact-info{
    margin: auto;
    width: 300px;
    border-radius: 1rem;
}
.credit{
    font-size: 1rem;
    padding-top: 1rem;
    text-align: center;
}
.non-bullet{
    list-style: none;
    display: inline;
    margin: 1rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--dark-blue);
}
#loading-gif{
    margin-top: 2rem ;
}